node_modules
dist/
dist-api/
dist-bundle/
content/
/data/
.vscode
.lila
docs/
docs-server/
exports/
/settings.json
yarn-error.log
.env
settings/
storybook-static/
projects/*
!projects/lilaquadrat/base
.history
tools
*.pem
/lib