.module.pictureandtext-module {
    .multi(padding, 8);

    max-width: @desktopWidthExt;
    margin-left: auto;
    margin-right: auto;

    @media @desktop {
        .multi(padding, 0);
    }

    .clearfix();
    display: grid;
    grid-template-columns: 100%;

    p {
        .font-normal;
    }

    .picture-container {
        img {
            width: 100%;
        }

    }

    .text-container {
        grid-row: 1;

        align-self: center;
        justify-self: center;

        width: 100%;
    }


    @media @desktop {

        display: grid;
        grid-template-columns: 56% 40%;
        grid-gap: 4%;

        .text-container {

            grid-column: 1;
            grid-row: 1;

            h2 {
                .font-head;
            }

            width: auto;
        }

        .picture-container {

            grid-column: 2;
            grid-row: 1;

            align-self: center;

        }
    }

    &.variant1 {

        grid-template-columns: 40% 56%;

        .text-container {
            grid-column: 2;
        }

        .picture-container {
            grid-column: 1;
        }

    }
}